* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;

  font-family: 'Outfit', sans-serif;


  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(217, 54%, 11%);
}